p{
    font-size: 40px;
    color:  rgb(87, 87, 158);
    text-align: center;
    outline-style: auto;
    outline-color: salmon;
    outline-width: 0.01mm;
    display: inline-block;
    margin: 10px;
}